

    
<nav class="navbar">

<div class="logo">
  
    <span>Sarkari Networker</span>
</div>

<div class="nav-links" id="navLinks">
    <a href="/src/pages/home/index.html">Home</a>
    <a href="/src/pages/job/index.html">Jobs</a>
    <a href="/src/pages/result/index.html">Results</a>
    <a href="/src/pages/admit-card/index.html">Admit Card</a>
    <a href="/src/pages/answerkey/index.html">Answer Key</a>
    <a href="/src/pages/admissions/index.html">Admissions</a>
    <a href="/src/pages/notes/index.html">Notes</a>
    <a href="/src/pages/internship/index.html">Internship</a>
</div>

<div class="nav-right">

    <a href="/src/pages/login/index.html" class="login-btn">Login</a>

    <div class="menu-btn" onclick="toggleMenu()">
        ☰
    </div>

</div>












</nav>
