<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    
<footer class="footer">

<div class="footer-container">

<div class="footer-box">
<h2>Sarkari Networker</h2>
<p>
India's Smart Government Jobs Portal.
Latest Jobs, Results, Admit Cards and Admissions.
</p>
</div>

<div class="footer-box">
<h3>Quick Links</h3>
<a href="/src/pages/job/index.html">Latest Jobs</a>
<a href="/src/pages/result/index.html">Results</a>
<a href="/src/pages/admit-card/index.html">Admit Card</a>
<a href="/src/pages/answerkey/index.html">Answer Key</a>
</div>

<div class="footer-box">
<h3>Company</h3>
<a href="/src/pages/about/index.html">About Us</a>
<a href="/src/pages/contect-us/index.html">Contact Us</a>
<a href="/src/pages/privacy-policy/index.html">Privacy Policy</a>
<a href="/src/pages/disclamer/index.html">Disclaimer</a>
</div>

<div class="footer-box">
<h3>Follow Us</h3>
<a href="#">Telegram</a>
<a href="https://wa.me/channel/0029VbD3vCl7IUYaVyS97T1u" target="_blank">WhatsApp</a>
<a href="#">Instagram</a>
<a href="#">YouTube</a>
</div>

</div>

<div class="footer-bottom">
© 2026 Sarkari Networker. All Rights Reserved.<br>
Founder & Developer : <strong>Mausam Jha</strong>
</div>

</footer>

</body>
</html>